@media print{
.casper{
display: none;
}
}
@media (min-width:700px)and (max-width: 1080px){
body{
background-color: magenta;
}

  @media (min-width:100px){
body{
background-color:black;
}


}

