.extable>table{
border-width:1px;
border-style:solid;
border-color:purple;
border-collaspe:
width: 40%;
}


.extable> table th, .extable td>{
border:1px solid grey;
text-align: center;
}

.extable> table th{
background-color: #D0CEDF;
}

.extable>table tr:nth-child(odd) {
background-color: #C257FC;